.maincanvascontainer{
    display: grid;
    grid-template-columns: 1fr;
    padding: 0.5rem;
}

@media screen and (min-width: 600px) {
    .maincanvascontainer  {        
        grid-template-rows: 1fr 20fr;
    }
}