.navbar{
    display: flex;
    flex-direction: column;
    /* border-right: 2px solid var(--primary-color); */
}

.siteheader{
    color: var(--primary-color);
    height: 8rem;
    font-size: xxx-large;    
    padding-top: 4rem;
    margin: auto;
}

.pagecontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.pagecontainer2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    gap: 1rem;
}

.pagelink{
    height: 2rem;    
    cursor: pointer;
    width: 70%;    
    display: flex;
    gap: 1rem;
    align-items: center;
}

.pagelink:hover{
    /* background-color: var(--primary-color); */
    border-bottom: solid var(--primary-color) 2px;
    border-radius: 5px;
}

.pagelink:hover{
    opacity: 1;
}

.bottom_navbar{
    position: absolute; 
    bottom: 0;
}

.menubutton{
    border: none;
    background-color: var(--primary-backgroud);
    padding-left: 48%;
    padding-top: 2rem;    
}

.sociallinks > a{
    padding: 1rem;
    padding-top: 4rem;
}

@media screen and (min-width: 600px) {
    .togglenavbar  {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .pagecontainer  {
        display: none;
    }
    .navbar{
        border-right: none
    }
}