.githubsummarycontainer{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    flex-direction: row;    
    width: 100%;
    gap: 2rem;
    padding-bottom: 1rem;    
    justify-content: center;
    align-items: center;    
}

.searchbutton{
    cursor: pointer;
    background-color: var(--primary-backgroud);    
}

.searchbutton:hover{
    background-color: var(--primary-color);
    border-radius: 8px;
}

.usernameinput{
    width: 50%;
}

.content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 2rem;
    gap: 2rem;
}

.projecttile{
    border: solid var(--primary-color) 0.1rem;
    border-radius: 0.5rem;
    padding: 1rem;
    display: grid;
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    .content  {        
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 850px) {
    .content  {        
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 600px) {
    .content  {        
        grid-template-columns: 1fr;
    }
}
