.githubsummarycontainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    width: 100vw;
    /* height: 100vh; */
}

.header{
    display: flex;
    flex-direction: row;    
    width: 100%;
    gap: 2rem;
    padding-bottom: 1rem;    
    justify-content: center;
    align-items: center;    
}

.searchbutton{
    cursor: pointer;
    background-color: var(--primary-backgroud);    
}

.searchbutton:hover{
    background-color: var(--primary-color);
    border-radius: 8px;
}

.usernameinput{
    width: 50%;
}

.content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 2rem;
    gap: 2rem;
}

.projecttile{
    border: solid var(--primary-color) 0.1rem;
    border-radius: 0.5rem;
    padding: 1rem;
    display: grid;
    grid-template-areas: "titl titl titl"
                         "desc desc desc"
                         "desc desc desc"
                         "topi topi topi"
                         "crat crat watc";
    cursor: pointer;
    gap: 0.1rem;
}

.projecttile:hover{
    background-color: var(--primary-color);
}

.projecttitle{
    font-size: x-large;
    font-weight: bold;
    grid-area: titl;
}

.projectdesc{
    grid-area: desc;
    font-weight: lighter;
}

.projecttopics{
    grid-area: topi;
}

@media screen and (max-width: 1200px) {
    .content  {        
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 850px) {
    .content  {        
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 600px) {
    .content  {        
        grid-template-columns: 1fr;
    }
}
