.githubsummarycontainer{
    width: 100%;
}

.header{
    display: flex;
    flex-direction: row;    
    width: 100%;
    gap: 2rem;
    padding-bottom: 1rem;
}

.searchbutton{
    cursor: pointer;
    background-color: var(--primary-backgroud);    
}

.searchbutton:hover{
    background-color: var(--primary-color);
    border-radius: 8px;
}

.usernameinput{

}
