.cleanupcontainer{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem
}

.header{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 2rem;
    align-items: center;
    font-size: x-large;
}

.content{    
    padding-right: 4rem;
    display: grid;
    grid-template-columns: 1fr 5fr 0.5fr;
    width: 100%;
}

.key{
    padding: 0.5rem;
    max-width: 8rem;    
    font-size: smaller;
    color: var(--primary-color);
}

.value{
    padding: 0.5rem;
    font-size: small;
    overflow: scroll;
}

.deletebutton{
    border: none;
    background-color: var(--primary-color);
    color: white;
    height: 1.5rem;
    width: 1.5rem;
    cursor: pointer;
    justify-self: center;
}