.global_window {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 8fr;    
}

.main_nav {
    
}

.main_view {
    
}

@media screen and (max-width: 600px) {
    .global_window  {
        grid-template-columns: 1fr;
    }
}