.global_window {
    display: grid;
    /* width: 100vw; */
    /* height: 100vh; */
    grid-template-columns: 1fr 8fr;    
}

@media screen and (max-width: 600px) {
    .global_window  {
        grid-template-columns: 1fr;
    }
}