:root {
    --primary-color: rgb(191, 37, 96);
    --primary-text-color: rgb(232, 200, 209);
    --primary-backgroud: rgb(36, 34, 34);

    
}

body {
    font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    padding: 20px 20px 60px;
    margin: 0 auto;
    color: var(--primary-text-color);
    background-color: var(--primary-backgroud);
    height: 100%;
    width: 100%;
}
